<footer class="mainfooter" role="contentinfo">
    <div class="footer-middle">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-4">
          <!--Column1-->
          <div class="footer-pad">
            <h6>Ubicacion:</h6>
            <ul class="list-unstyled">
              <li><a href="#">Av. providencia #121, 
                  Providencia. Santiago de chile</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-4 col-sm-4">
          <!--Column2-->
          <div class="footer-pad">
            <h6>Redes sociales</h6>
            <ul class="list-unstyled">
              <li><a href="#">Instagram</a></li>
              <li><a href="#">Facebook</a></li>
              <li><a href="#">Twitter</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-4 col-sm-4"> 
          <!--Column3-->
          <div class="footer-pad">
            <h6>Contacto</h6>
            <ul class="list-unstyled">
              <li><a href="#">+55222282822</a></li>
              <li><a href="#">info@tiendita.com</a></li>
            </ul>
          </div>
        </div>     
      </div>
      <div class="row">
          <div class="col-md-12 copy">
              <strong><p class="text-center">&copy;Tiendita</p></strong>
          </div>
      </div>
    </div>
    </div>
  </footer>