<form [formGroup]="formularioProducto" >

    <div class="form-group pb-2">
        <label class="control-label pb-1">Codigo</label>
        <input type="text" placeholder="Ingrese un codigo" class="form-control" required autofocus="autofocus" formControlName="codigo" />
    </div>
    <div class="form-group pb-2">
        <label class="control-label pb-1">Nombre</label>
        <input type="text"   placeholder="Ingrese un nombre de producto" class="form-control" required autofocus="autofocus" formControlName="nombre"/>
    </div>
    <div class="form-group pb-2">
        <label class="control-label pb-1">Precio</label>
        <input type="number"   placeholder="Ingrese un precio" class="form-control" required autofocus="autofocus" formControlName="precio"/>
    </div>
    <div class="form-group pb-2">
        <label class="control-label pb-1">Cantidad</label>
        <input type="number"   placeholder="Ingrese cuantos necesita" class="form-control" required autofocus="autofocus" formControlName="cantidad"/>
    </div>
    <div class="form-group pb-2">
        <label class="control-label pb-1">Descripción</label>
        <input type="text"   placeholder="Ingrese cuantos necesita" class="form-control" required autofocus="autofocus" formControlName="descripcion"/>
    </div>
    <div class="form-group">
        <div class="row pt-3 mx-0">
            <button type="submit" (click)="guardar()" class="btn btn-success btn-block">Guardar</button>
        </div>  
    </div>
</form>




